.theme-invoiceShelf {
    --color-primary-50: 247, 246, 253;
    --color-primary-100: 238, 238, 251;
    --color-primary-200: 213, 212, 245;
    --color-primary-300: 188, 185, 239;
    --color-primary-400: 138, 133, 228;
    --color-primary-500: 88, 81, 216;
    --color-primary-600: 79, 73, 194;
    --color-primary-700: 53, 49, 130;
    --color-primary-800: 40, 36, 97;
    --color-primary-900: 26, 24, 65;
}

.theme-cj {
    --color-primary-50:  227, 248, 242;
    --color-primary-100: 199, 240, 230;
    --color-primary-200: 142, 225, 204;
    --color-primary-300: 82, 209, 177;
    --color-primary-400: 46, 173, 142;
    --color-primary-500: 31, 117, 96;
    --color-primary-600: 25, 93, 76;
    --color-primary-700: 18, 69, 56;
    --color-primary-800: 13, 48, 39;
    --color-primary-900: 6, 24, 20;
    --color-primary-950: 3, 12, 10;
}
